<fieldset>
        <legend>Address</legend>
        <div class="user">
            <div class="form-group row">
                <label for="np" class="col-sm-4 col-form-label">Native Place</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="np" ng-model="address.nativePlace">
                </div>
            </div>
            <div class=" form-group row ">
                <label for="padd" class="col-sm-4 col-form-label">Permanant Address</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Permanant Address" id="padd"  ng-model="address.permanentAdd">
                </div>
            </div>
            <div class="form-group row ">
                <label for="city" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="city" ng-model="address.city">
                </div>
            </div>
            <div class="form-group row">
                <label for="state" class="col-sm-4 col-form-label">State</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="state" ng-model="address.state">
                </div>
            </div>
            <div class="form-group row ">
                <label for="zip" class="col-sm-4 col-form-label">zip</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"id="zip"  ng-model="address.zip">
                </div>
            </div>
        </div>
        <div class="user">
            <div class="form-group row">
                <label for="communicationadd" class="col-sm-4 col-form-label">Communication Address</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Communication Address"  id="communicationadd" ng-model="address.communicationAdd">
                </div>
            </div>
            <div class="form-group row">
                <label for="ccity" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="ccity" ng-model="address.ccity">
                </div>
            </div>
            <div class="form-group row ">
                <label for="cstate" class="col-sm-4 col-form-label">State</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="cstate"  ng-model="address.cstate">
                </div>
            </div>
            <div class="form-group row">
                <label for="czip" class="col-sm-4 col-form-label">Zip</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="czip" ng-model="address.czip">
                </div>
            </div>
        </div>
    </fieldset>