
<fieldset>
	<legend>Contact</legend>
		<div class="user">
		    <div class="form-group row ">
		        <label for="fname" class="col-sm-4 col-form-label">Father Name</label>
		        <div class="col-sm-8">
		        <input type="text" class="form-control" id="fname"  ng-model="contact.fatherName">
		        </div>
		    </div>
		    <div class="form-group row">
		        <label for="foccu" class="col-sm-4 col-form-label">Father Occupation</label>
		        <div class="col-sm-8">
		            <input type="text" class="form-control" id="foccu" ng-model="contact.fatherOccupation">
		        </div>
		    </div>
		     <div class="form-group row">
		        <label for="fincome" class="col-sm-4 col-form-label">Father Income</label>
		        <div class="col-sm-8">
		        <input type="text" class="form-control" id="fincome" ng-model="contact.fatherIncome">
		        </div>
		    </div>
		    <div class="form-group row ">
		        <label for="fmbl" class="col-sm-4 col-form-label">Father Mobile Number</label>
		        <div class="col-sm-8">
		        <input type="text" class="form-control"  id="fmbl"  ng-model="contact.fatherMobile">
		        </div>
		    </div>
	    </div>
	    
	    <div class="user">
		    <div class="form-group row">
		        <label for="mname" class="col-sm-4 col-form-label">Mother Name</label>
		        <div class="col-sm-8">
		        <input type="text" class="form-control" id="mname" ng-model="contact.motherName">
		        </div>
		    </div>
		    <div class="form-group row">
		        <label for="moccu" class="col-sm-4 col-form-label">Mother Occupation</label>
		        <div class="col-sm-8">
		        <input type="text" class="form-control"  id="moccu"  ng-model="contact.motherOccupation">
		        </div>
		    </div>
		    <div class="form-group row">
		        <label for="mincome" class="col-sm-4 col-form-label">Mother Income</label>
		        <div class="col-sm-8">
		            <input type="text" class="form-control" id="mincome" ng-model="contact.motherIncome">
		        </div>
		    </div>
		    <div class="form-group row line">
		        <label for="mmbl" class="col-sm-4 col-form-label">Mother Mobile Number</label>
		        <div class="col-sm-8">
		        <input type="text" class="form-control" id="mmbl" ng-model="contact.motherMobile"> 
		        </div>
		    </div>
	    </div>
  </fieldset>