
	<fieldset>
        <legend>Qualifying Examination</legend>
        <div class="user">
            <div class=" form-group row ">
                <label for="sslc" class="col-sm-4 col-form-label">S.S.L.C</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="S.S.L.C School Name" id="sslc" ng-model="school.sslc">
                </div>
            </div>
            <div class="form-group row ">
                <label for="sslcpercentage" class="col-sm-4 col-form-label">Percentage</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="sslcpercentage" ng-model="school.sslcPercentage">
                </div>
            </div>
            <div class="form-group row ">
                <label for="yop" class="col-sm-4 col-form-label">Year Of Passing</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="yop" ng-model="school.sslcPassing">
                </div>
            </div>
            <div class="line form-group row ">
                <label for="hsc" class="col-sm-4 col-form-label">H.S.C </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="H.S.C School Name" id="hsc" ng-model="school.hsc">
                </div>
            </div>
            <div class="form-group row line">
                <label for="hscpercentage" class="col-sm-4 col-form-label">Percentage</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="hscpercentage" ng-model="school.hscPercentage">
                </div>
            </div>
        </div>
        <div class="user">
            <div class="form-group row line">
                <label for="yop12" class="col-sm-4 col-form-label">Year Of Passing</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="yop12" ng-model="school.hscPassing">
                </div>
            </div>
            <div class="line form-group row ">
                <label for="diploma" class="col-sm-4 col-form-label">Diploma</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  id="diploma"  ng-model="school.diploma">
                </div>
            </div>
            <div class="form-group row line">
                <label for="diplomapercent" class="col-sm-4 col-form-label">Percentage</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="diplomapercent" ng-model="school.diplomaPercentage">
                </div>
            </div>
            <div class="form-group row line">
                <label for="dip12" class="col-sm-4 col-form-label">Year Of Passing</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="dipyop" ng-model="school.diplomaPassing">
                </div>
            </div>
        </div>
    </fieldset>