<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<body>
		<div class="login-form ng-scope">
		    <h3 style="color: black;font-family: cursive;text-align: center;font-size: 30px;margin-top: -26">Student Academic Management System</h3><br><br>
		    <br>
		    <br>
		    <br>
		    <h3 style="text-align: center;font-size: larger;">
		        <a style="color: black" href="http://localhost/SMS/admin.php">Admin Login</a> | <a style="color:black" href="http://localhost/SMS/hod/login.php">HOD Login</a></h3>
		    <div style="padding: 0% 36% 0% 39%;">
		        <h1 class="heading" style="color:black;font-size:2.3em">STUDENT LOGIN</h1>
				<div class="login-top">
	    		    <p style="color:red" class="ng-binding">   </p>
			        <form ng-submit="formSubmit()" name="loginForm" class="ng-pristine ng-valid">
			            <div class="login-ic">
			                <input type="text" name="rollno" ng-model="rollno" onfocus="this.value = '';" placeholder="Roll NO" class="ng-pristine form-control ng-valid">
			                <div class="clear"></div>
			            </div>
			            <br>
			            <div class="login-ic">
			                <input type="password" name="password" ng-model="password" onfocus="this.value = '';" placeholder="*******" class="ng-pristine form-control ng-valid">
			                <div class="clear"></div>
			            </div>	
			            <br>
			            <div class="log-bwn">
			                <input type="submit" ng-model="submit" value="Login" class="btn btn-primary ng-pristine ng-valid">
			            </div>
			            <br>
			            <a href="#" style="color: black" data-target="#pwdModal" data-toggle="modal">Forgot my password</a>
			        </form>
			    </div>
		    </div>
		</div>
		<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <form action="index.php" method="post">
			            <div class="modal-header">
			                    <div class="form-row">
			                        <div class="form-group col-md-6 col-md-offset-3">
			                            
			                        </div>
			                    </div>
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			            </div>
			            <div class="modal-body">
			                <div class="col-md-12">
			                    <div class="panel panel-default">
			                        <div class="panel-body">
			                            <div class="text-center">
			                                <p>If you have forgotten your password enter Mail Id </p>
			                                <div class="panel-body">
			                                    <fieldset>
			                                        <div class="form-row">
			                            				<input type="text" name="mailId" ng-model="mailId"  placeholder="Mail Id" class="ng-pristine ng-valid">                
			                                        </div>
			                                        <div class="form-row">
			                                            <input class="btn btn-primary " data-target="#Submit" name="submt" data-toggle="modal" value="Submit"  type="submit">
			                                        </div>
			                                        <div class="form-row">
			                                        </div>
			                                        <div class="form-row">
			                                            <div class="form-group">
			                                            	<input type="password" name="mailId"  placeholder="OTP" class="ng-pristine ng-valid">    
			                                            </div>
			                                        </div>
			                                    </fieldset>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="modal-footer">
			                <div class="col-md-12">
			                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
			                </div>
			            </div>
		        	</form>
		        </div>
		    </div>
		</div>
	</body>
</html>